<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <title>Calendar</title>
</head>
<body>
    {{>header}}

    <main id="content">
        <div class="container col-sm-8 col-md-8 col-lg-8 mt-5">
            <div class="card">
                <h3 class="card-header" >You have {{tasks.length}} tasks for day {{date}}.</h3>
                <table class="table table-bordered table-responsive-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th>Task</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Completed</th>
                    </tr>
                    </thead>

                    <tbody>
                        {{#each tasks}}
                        <tr>
                            <td>
                                <a href={{this.url}}>{{this.title}}</a><span> 
                            </td>
                            <td>
                                {{this.date}} 
                            </td>
                            <td>
                                {{this.description}} 
                            </td>
                            <td>
                                {{this.completed}} 
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="form-inline">
                    <a class="btn btn-outline-primary col-sm-12" href="/tasks/create">Create task</a>
                </div>
            </div>
        </div>
    </main>

    {{>footer}}
    
<!-- Optional JavaScript for bootstrap -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>
</html>