<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <title>Calendar</title>
</head>
<body>
    {{>header}}

    <main id="content">
        <div class="container col-sm-8 col-md-8 col-lg-8 mt-5">
            <div class="card">
                <h3 class="card-header">Update task <a href={{task.url}}>{{task.title}}</a></h3>
                <div class="form-group">
                <form action="{{task.url}}/update?_method=PATCH" method="post">
                    <label for="title">Name</label><br>
                    <input class="form-control" type="text" name="title" id="title" required value="{{task.title}}">

                    <label for="description">Description</label><br>
                    <textarea class="form-control" name="description" id="description" rows="3" placeholder="Describe your task">{{task.description}}</textarea>

                    <label for="date">Date</label><br>
                    <input class="form-control" type="date" name="date" id="date" required value="{{date}}">

                    <label for="priority">Priority</label><br>
                    <input class="form-control" type="number" name="priority" id="priority" min="1" max="5" value="{{task.priority}}">
                    <small class="form-text text-muted">Number from 1 (= most important) to 5 (= least important)</small><br><br>

                    <button class="btn btn-outline-primary" type="submit">Submit</button>
                </form>
                </div>
                <p>{{errorMessage}}</p>
            </div>
        </div>
    </main>

    {{>footer}}
</body>
</html>